doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/styles.css")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Roboto+Slab:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
        <link href="https://fonts.cdnfonts.com/css/myriad-pro" rel="stylesheet">
                
    body 
        include components/mixins

                
        .overflow-hidden
            .product-added-popup-mini 
                .row 
                    .col-lg-2.col-12.relative.d-block.tick-svg
                        img(src="../img/success.svg", alt="")
                    .col-10.d-none.d-lg-block.d-lg-block.span-align
                        span product added 
            .popup-basket-outline 
                .popup-basket 
                    h2 Your basket
                    .products-to-buy 
                        table.table-products-basket 
                            tr
                    .buttons-basket.d-flex 
                        button.button-order#button-close Cancel
                        button.button-order Order

            .popup-login-outline#login-popup
                .popup-login 
                    h2 Hi! Enter your Admin Code
                    .popup-login-content
                        .cont-drag.row
                            .col-3 
                                .block#block1(data-value="1") 1
                            .col-3 
                                .block#block2(data-value="2") 2
                            .col-3 
                                .block#block3(data-value="3") 3
                            .col-3 
                                .block#block4(data-value="4") 4
                        .drop-zones
                            .row
                                .col-3 
                                    .cont-drag
                                        .dropzone#container1 
                                .col-3 
                                    .cont-drag
                                        .dropzone#container2 
                                .col-3 
                                    .cont-drag
                                        .dropzone#container3 
                                .col-3 
                                    .cont-drag
                                        .dropzone#container4 
                        button#check.check-log-in Log in

            header#home.parallax-header.relative 
                .container
                    .navigation.header-line.text-white.relative
                        .row.align-items-baseline
                            .burger 
                            .busket-ico
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"  style="background-position: 65.4375% 50.41%;"><path  d="M171.7 191.1H404.3L322.7 35.07C316.6 23.31 321.2 8.821 332.9 2.706C344.7-3.409 359.2 1.167 365.3 12.93L458.4 191.1H544C561.7 191.1 576 206.3 576 223.1C576 241.7 561.7 255.1 544 255.1L492.1 463.5C484.1 492 459.4 512 430 512H145.1C116.6 512 91 492 83.88 463.5L32 255.1C14.33 255.1 0 241.7 0 223.1C0 206.3 14.33 191.1 32 191.1H117.6L210.7 12.93C216.8 1.167 231.3-3.409 243.1 2.706C254.8 8.821 259.4 23.31 253.3 35.07L171.7 191.1zM191.1 303.1C191.1 295.1 184.8 287.1 175.1 287.1C167.2 287.1 159.1 295.1 159.1 303.1V399.1C159.1 408.8 167.2 415.1 175.1 415.1C184.8 415.1 191.1 408.8 191.1 399.1V303.1zM271.1 303.1V399.1C271.1 408.8 279.2 415.1 287.1 415.1C296.8 415.1 304 408.8 304 399.1V303.1C304 295.1 296.8 287.1 287.1 287.1C279.2 287.1 271.1 295.1 271.1 303.1zM416 303.1C416 295.1 408.8 287.1 400 287.1C391.2 287.1 384 295.1 384 303.1V399.1C384 408.8 391.2 415.1 400 415.1C408.8 415.1 416 408.8 416 399.1V303.1z"  style="background-position: 65.4792% 50.3465%;"></path></svg>
                                .busket-ico-counter
                            .col-2.logo 
                                span Startup
                            .col-10#navH.header-navigation.d-lg-flex.d-md-flex.justify-content-end
                                nav
                                    ul.menu-nav.d-flex.justify-content-between
                                        li
                                            a(href="#home") Home
                                        li
                                            a(href="#services") Services
                                        li
                                            a(href="#about") About
                                        li
                                            a(href="#works") Works
                                        li
                                            a(href="#blog") Blog
                                        li
                                            a(href="#clients") Clients
                                        li
                                            a(href="#support") Contact
                    .w-100.text-center.text-header.text-white.animated-element 
                        h1#title Welcome to STARTUP
                        p Your Favourite Creative Agency Template
                        a(href="#")#logBtn.button-white.text-center.text-white Get Started
            main 
                .container
                    .services.animated-element#services.text-center.sm-containers
                        h2.title-text-line Services
                        p We offer ipsum dolor sit amet, consetetur sadipscing elitr amet
                        .row.align-items-baselineanimated-element.animate-right-to-left.justify-content-center 
                            .col-lg-4.col-md-6 
                                +cards(cardsInfo.font)
                            .col-lg-4.col-md-6#hacksite 
                                +cards(cardsInfo.code)
                            .col-lg-4.col-md-6 
                                +cards(cardsInfo.support)
                .container.about-us-cont
                    .about-us.animated-element#about.text-center.sm-containers.container
                        h2.title-text-line About us
                        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
                        .row.align-items-baseline
                            .col-lg-6.col-sm-12.text-about-padding-none.animate-left-to-right 
                                p.text-left  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.
                            .col-lg-6.col-sm-12.text-about-padding-none.animate-right-to-left 
                                p.text-left Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirtempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos eaccusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Loreipsum dolor sit amet. Lorem ipsum dolor et.

                        .workers.carousel.infinity-slider
                            .slider-blocks
                                .blocks-infinity-slider.w-100.relative
                                    .content-slider-infinity.text-center.relative
                                        img(src="../img/man1.png", alt="")
                                        span.title-block Md. Khalil Uddin
                                        p.paragraph-text Head of Ideas
                                        .person-sociality 
                                            ul
                                                li 
                                                    a(href="#").fb 
                                                li 
                                                    a(href="#").tw 
                                                li 
                                                    a(href="#").google 
                                                li 
                                                    a(href="#").in 
                                    .content-slider-infinity.text-center.relative
                                        img(src="../img/man2.png", alt="")
                                        span.title-block Rubel Miah
                                        p.paragraph-text Lead WordPress Developer
                                        .person-sociality 
                                            ul
                                                li 
                                                    a(href="#").fb 
                                                li 
                                                    a(href="#").tw 
                                                li 
                                                    a(href="#").google 
                                                li 
                                                    a(href="#").in 
                                    .content-slider-infinity.text-center.relative
                                        img(src="../img/man3.png", alt="")
                                        span.title-block Shamim Mia
                                        p.paragraph-text Sr. Web Developer
                                        .person-sociality 
                                            ul
                                                li 
                                                    a(href="#").fb 
                                                li 
                                                    a(href="#").tw 
                                                li 
                                                    a(href="#").google 
                                                li 
                                                    a(href="#").in 
                                    .content-slider-infinity.text-center.relative
                                        img(src="../img/man4.png", alt="")
                                        span.title-block John Doe
                                        p.paragraph-text Front-end Developer
                                        .person-sociality 
                                            ul
                                                li 
                                                    a(href="#").fb 
                                                li 
                                                    a(href="#").tw 
                                                li 
                                                    a(href="#").google 
                                                li 
                                                    a(href="#").in 
                                    .content-slider-infinity.text-center.relative
                                        img(src="../img/man.jfif", alt="")
                                        span.title-block John Doe
                                        p.paragraph-text Front-end Developer
                                        .person-sociality 
                                            ul
                                                li 
                                                    a(href="#").fb 
                                                li 
                                                    a(href="#").tw 
                                                li 
                                                    a(href="#").google 
                                                li 
                                                    a(href="#").in 
                                    .content-slider-infinity.text-center.relative
                                        img(src="../img/woman.jfif", alt="")
                                        span.title-block John Doe
                                        p.paragraph-text Front-end Developer
                                        .person-sociality 
                                            ul
                                                li 
                                                    a(href="#").fb 
                                                li 
                                                    a(href="#").tw 
                                                li 
                                                    a(href="#").google 
                                                li 
                                                    a(href="#").in 
                               
                            .control
                                .control-slide-left
                                .control-slide-right

                .container
                    #works.works.animated-element.sm-containers
                        h2.title-text-line.text-center Latest Works
                        ul.d-flex.justify-content-center
                            li
                                span.filter-button(data-filter='all') All
                            li
                                span.filter-button(data-filter='branding') Branding
                            li
                                span.filter-button(data-filter='design') Design
                            li
                                span.filter-button(data-filter='development') Development
                            li
                                span.filter-button(data-filter='strategy') Strategy
                    .gallery
                        .row.g-4.justify-content-center.gallery-flex-gap
                            .col-lg-4.col-md-6.col-sm-12.card-gallery.relative(data-filter='branding')
                                img(src='img/gallery-1.png' alt='')
                                .gallery-block-about 
                                    h3 Hair Dresser
                                    p branding
                                    .d-flex.view-buy
                                        a(href="#") View 
                                        a(href="#")(data-value="1").add-to-cart-js Buy
                            .col-lg-4.col-md-6.col-sm-12.card-gallery.relative(data-filter='strategy')
                                img(src='img/gallery-2.png' alt='')
                                .gallery-block-about 
                                    h3 Hair Dresser
                                    p strategy
                                    .d-flex.view-buy
                                        a(href="#") View 
                                        a(href="#")(data-value="2").add-to-cart-js Buy
                            .col-lg-4.col-md-6.col-sm-12.card-gallery.relative(data-filter='strategy')
                                img(src='img/gallery-3.png' alt='')
                                .gallery-block-about 
                                    h3 Hair Dresser
                                    p strategy
                                    .d-flex.view-buy
                                        a(href="#") View 
                                        a(href="#")(data-value="3").add-to-cart-js Buy
                            .col-lg-4.col-md-6.col-sm-12.card-gallery.relative(data-filter='branding design development')
                                img(src='img/gallery-4.png' alt='')
                                .gallery-block-about 
                                    h3 Hair Dresser
                                    p branding design development
                                    .d-flex.view-buy
                                        a(href="#") View 
                                        a(href="#")(data-value="4").add-to-cart-js Buy
                            .col-lg-4.col-md-6.col-sm-12.card-gallery.relative(data-filter='development')
                                img(src='img/gallery-5.png' alt='')
                                .gallery-block-about 
                                    h3 Hair Dresser
                                    p development
                                    .d-flex.view-buy
                                        a(href="#") View 
                                        a(href="#")(data-value="5").add-to-cart-js Buy
                            .col-lg-4.col-md-6.col-sm-12.card-gallery.relative(data-filter='branding design')
                                img(src='img/gallery-6.png' alt='')
                                .gallery-block-about 
                                    h3 Hair Dresser
                                    p branding design
                                    .d-flex.view-buy
                                        a(href="#") View 
                                        a(href="#")(data-value="6").add-to-cart-js Buy
                            .col-lg-4.col-md-6.col-sm-12.card-gallery.relative(data-filter='strategy')
                                img(src='img/gallery-7.png' alt='')
                                .gallery-block-about 
                                    h3 Hair Dresser
                                    p strategy
                                    .d-flex.view-buy
                                        a(href="#") View 
                                        a(href="#")(data-value="7").add-to-cart-js Buy
                            .col-lg-4.col-md-6.col-sm-12.card-gallery.relative(data-filter='design')
                                img(src='img/gallery-8.png' alt='')
                                .gallery-block-about 
                                    h3 Hair Dresser
                                    p design
                                    .d-flex.view-buy
                                        a(href="#") View 
                                        a(href="#")(data-value="8").add-to-cart-js Buy
                            .col-lg-4.col-md-6.col-sm-12.card-gallery.relative(data-filter='development')
                                img(src='img/gallery-9.png' alt='')
                                .gallery-block-about 
                                    h3 Hair Dresser
                                    p development
                                    .d-flex.view-buy
                                        a(href="#") View 
                                        a(href="#")(data-value="9").add-to-cart-js Buy
                .support.animated-element.text-center.parallax-header
                    h2  Do you like OUR WORK so far? 
                        br
                        | Let's talk about YOUR PROJECT! 
                    a(href="#contact-form").button-white.text-center.text-white Get in Touch
                .container
                    
                    .blog-posts.animated-element#blog.text-center.sm-containers 
                        h2.title-text-line Recent blog posts
                        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
                        .row.m-0.g-5.animate-right-to-left 
                            .col-lg-4.col-sm-12.img-p-row 
                                img(src="img/blog-posts1.png", alt="")          
                            .col-lg-8.col-sm-12.blog-blocks-guttern
                                .d-flex
                                    .date 
                                        span 
                                            | 18 
                                            br
                                            span Oct
                                    .title-blog.text-align-left
                                        h3 Startup ideas needs to be funded 
                                        p 
                                            | By 
                                            span Khalil 
                                            | Uddin in 
                                            span Development
                                .blog-description
                                    p.text-align-left Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam 
                                    span#read-more Read more
                        
                        .row.m-0.g-5.animate-left-to-right 
                            .col-lg-4.col-sm-12.img-p-row 
                                img(src="img/blog-posts2.png", alt="")
                            .col-lg-8.col-sm-12.blog-blocks-guttern
                                .d-flex
                                    .date 
                                        span 
                                            | 18 
                                            br
                                            span Oct
                                    .title-blog.text-align-left
                                        h3 Startup ideas needs to be funded 
                                        p 
                                            | By 
                                            span Khalil 
                                            | Uddin in 
                                            span Development
                                .blog-description
                                    p.text-align-left#innerTextBlog Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam 
                                    span#read-more1 Read more
                
                .companies#clients 
                    .overflow-width.animate-right-to-left
                        .partners-slider.d-flex.justify-content-space-between.container.relative
                            .partner
                                img(src="img/partners1.png", alt="")
                            .partner
                                img(src="img/partners2.png", alt="")
                            .partner
                                img(src="img/partners3.png", alt="")
                            .partner
                                img(src="img/partners4.png", alt="")
                            .partner
                                img(src="img/partners5.png", alt="")
                        .btnstest 
                            p.btn1 
                            p.btn2 

            
                    .review-slider.text-center.animate-left-to-right  
                        .review.active 
                            p Hvaing placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum”
                            span John Doe, Google Inc.
                        .review 
                            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem maxime ducimus quia, excepturi error, sit debitis ab vitae laboriosam dicta beatae sunt non deleniti quasi cumque ex cupiditate molestiae.
                            span Khalil Uddin, Web Developer 
                        .review 
                            p Veniam, tempore. Repudiandae molestiae quas, voluptate ipsa, inventore harum suscipit repellendus tempora consectetur, incidunt labore. Neque est deserunt, molestias nisi porro tempora lorem super ipsum!
                            span Rubel Miah, Head of Ideas
                    .control-review-slider.d-flex
                        .slider-dot.active 
                        .slider-dot 
                        .slider-dot 
                .container#contact-form
                    .form-support.animated-element#support.sm-containers  
                        h2.title-text-line.text-center Get in touch
                        p.text-center Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
                        .row.g-4 
                            .col-lg-4.col-md-12
                                .before-form-some-contacts
                                    ul.text-center-info-adaptive
                                        li 
                                            span.address Address
                                        li 312, 7th Ave, New York
                                        li NY 101200, United States of America
                                    ul.text-center-info-adaptive
                                        li
                                            span.hotline Hotline (24x7)
                                            li +65 0052 300, +65 88251 210
                                            li +88 01723 511 340
                                    ul.text-center-info-adaptive
                                        li
                                            span.e-mail E-mail
                                            li shapedtheme@gmail.com
                                            li khalilkode@gmail.com
                            .col-lg-8.col-md-12.form
                                form
                                    .row.g-md-0.g-lg-5.g-sm-0
                                        .col-lg-6
                                            input#name.w-100(type='text' placeholder='Your name')
                                        .col-lg-6
                                            input#email.w-100(type='email' placeholder='Your E-mail')
                                    .row.g-md-0.g-lg-5.g-sm-0
                                        .col-lg-6
                                            input#subject.w-100(type='text' placeholder='Your subject')
                                        .col-lg-6
                                            input#company.w-100(type='text' placeholder='Company name')
                                    .row.g-md-0.g-lg-5.g-sm-0
                                        .col-12
                                            textarea#message.w-100(name='message' cols='30' rows='10' placeholder='Write your message')
                                    .row.g-md-0.g-lg-5.g-sm-0.d-flex.align-items-baseline
                                        .col-lg-4.col-md-12
                                            button.w-100(type='submit') Send message
                                        .col-lg-8.col-md-12.text-center
                                            p.contact-details-message * We’ll contact you as soon as possible. We don’t reply on Monday.
        #confirmation-popup.popup.popup-menu-user-data
            .popup-body
                h2.title-text-line.text-center Введені дані
                .content-popup
                    p
                        strong YOUR NAME: <br>
                        span#popup-name
                    p
                        strong YOUR E-MAIL: <br> 
                        span#popup-email
                    p
                        strong YOUR SUBJECT: <br>
                        span#popup-subject
                    p
                        strong COMPANY NAME: <br>
                        span#popup-company
                    p
                        strong YOUR MESSAGE: <br>
                        span#popup-message
                    .d-flex
                        button#accept-button accept
                        button#reject-button decline




        .container
            .fixed-100
                .row.m-0.g-5.popup-blog
                    .col-lg-4.col-sm-12.img-p-row 
                        img(src="img/blog-posts1.png", alt="")          
                    .col-lg-8.col-sm-12.blog-blocks-guttern
                        .d-flex.date-title
                            .date 
                                span 
                                    | 18 
                                    br
                                    span Oct
                            .title-blog.text-align-left
                                h3 Startup ideas needs to be funded 
                                p 
                                    | By 
                                    span Khalil 
                                    | Uddin in 
                                    span Development
                        .blog-description.blog-description-all
                            p.text-align-left Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam temporibus eveniet magni possimus fuga tenetur consequatur nulla, eius deleniti voluptatum repellat rerum voluptate, adipisci, fugit beatae nostrum. Error molestiae earum necessitatibus magni aut, id possimus blanditiis nisi, nihil dignissimos facilis illo accusantium cupiditate eos, officiis nobis. Provident quis cum eum voluptates sed voluptatibus, magni omnis eveniet in ab obcaecati commodi dolore unde, est, ipsum officiis neque excepturi hic eius dignissimos odio? Assumenda vel nemo, accusamus impedit ab similique laudantium enim non dolor tempora quibusdam explicabo amet culpa libero dolorum quis a ducimus sint inventore! Illo voluptate ipsa similique asperiores sit iste sint, sunt iusto quis nobis in assumenda inventore consequatur velit consequuntur quam quos quia? Vero placeat veritatis minima quis, odit quidem fuga repellat iure totam consequatur asperiores. Obcaecati incidunt enim voluptates natus cumque sit officia voluptatibus aperiam labore! Saepe harum, libero tempora accusamus veniam expedita sint blanditiis. Rerum ea accusantium quaerat eaque tenetur soluta. Temporibus nam praesentium nobis, aliquid commodi porro repellat doloribus voluptas sit cumque voluptate nemo aspernatur consequuntur amet omnis asperiores beatae, quisquam saepe. Ducimus accusantium repellendus maxime earum aperiam obcaecati recusandae rerum autem tempora suscipit perferendis et labore in nisi nemo est repudiandae corrupti, ipsam quisquam aspernatur. Tempora magni asperiores dignissimos ab est, facilis earum ex autem nulla, reprehenderit inventore velit maxime modi provident doloribus tenetur distinctio minima, quibusdam temporibus. Iusto veritatis voluptates error commodi enim ipsa sapiente reprehenderit ipsum aliquam perferendis dolore sed praesentium magni eaque at soluta, velit quis. Necessitatibus blanditiis mollitia quis asperiores?
                            span#blogClose Close 
        footer 
            .footer-wrap
                .container.text-center
                    .row.sociality.justify-content-center 
                        .col-3.sociality-icons 
                        .col-3.sociality-icons 
                        .col-3.sociality-icons 
                        .col-3.sociality-icons 
                    hr
                    p &copy 2015 Startup, Designed by ShapedTheme
        script(src="js/scripts.js") 
